URxvt.font: xft:monospace:size=7
URxvt.scrollBar: false

urxvt*foreground: white
urxvt*background: black

#*color0:  #2E3436
#*color1:  #a40000
#*color2:  #2c7806
#*color3:  #C4A000
#*color4:  #3465A4
#*color5:  #75507B
#*color6:  #ce5c00
#*color7:  #babdb9
#*color8:  #555753
#*color9:  #EF2929
#*color10: #8AE234
#*color11: #FCE94F
#*color12: #729FCF
#*color13: #AD7FA8
#*color14: #fcaf3e
#*color15: #EEEEEC

#*background:  #010101
#*foreground:  #dcdcdc
#*color0:  #000000
#*color1:  #d86380
#*color2:  #37a57a
#*color3:  #bba523
#*color4:  #675d80
#*color5:  #ad2db7
#*color6:  #34b1b4
#*color7:  #7e7f81
#*color8:  #000000
#*color9:  #fc3425
#*color10:  #90ec35
#*color11:  #e68535
#*color12:  #59a7dd
#*color13:  #cf7ec9
#*color14:  #32eef6
#*color15:  #f5ebff

*background:  #000000
*foreground:  #eeeeee
*color0:  #303030
*color1:  #ff0000
*color2:  #00ff00
*color3:  #ffff00
*color4:  #0000ff
*color5:  #ff00ff
*color6:  #00ffff
*color7:  #eeeeee
*color8:  #303030
*color9:  #ff2222
*color10:  #00ff00
*color11:  #ffff00
*color12:  #0077ff
*color13:  #ff00ff
*color14:  #00ffff
*color15:  #eeeeee

Xft.dpi: 92
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xfft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
